appdirs==1.4.4
beautifulsoup4==4.9.3
blinker==1.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-Mail==0.9.1
heroku==0.1.4
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
micawber==0.5.3
peewee==3.14.4
Pygments==2.9.0
python-dateutil==1.5
python-dotenv==0.17.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
touch==2020.12.3
urllib3==1.26.5
values==2020.12.3
virtualenv==20.4.7
Werkzeug==2.0.1
