h1 {
    font-size: 2em;
    font-family: Georgia, serif;
    color: #050A30;
}

#profile_pic {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
}

body {
    background-color: powderblue;
    font-family: Georgia, serif;
    color: #050A30;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    display: inline-block
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_bar {
    width: 50%;
    background-color: cadetblue;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}