<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/styles/emily.css">

</head>

<body>
    <div id="nav">
		<a class ="nav" href="{{ url_for('index') }}">Blog</a>
		<a class ="nav"href="{{ url_for('michelle') }}">Michelle</a>
	</div>
    <div id="profile_pic">
        <img src="https://media-exp3.licdn.com/dms/image/C4E03AQGoZX6HhrM0ig/profile-displayphoto-shrink_800_800/0/1617464293649?e=1628726400&v=beta&t=ns_KqHHgPGCLfLdPOq9qaUNjR4eiUnvpHs42jLwoZTI"
             width="300" height="300" />
    </div>
    <h3 class = "links">
        Connect with me!
        <br />
        <a href="https://www.linkedin.com/in/emily-xinyi-chen/">LinkedIn</a>
        <br />
        <a href="https://github.com/EmilyXinyi">GitHub</a>
    </h3>
    <h1>Hi, I'm Emily Chen!</h1>
    <ul>
        <li>I am from Toronto, Canada, and I study at the University of Toronto</li>
        <li>I studying electrical engineering, minoring in biomedical engineering</li>
        <li>This summer, I am working at a research student at the KITE Research Institute for neurorehabilitation</li>
        <li>I am a MLH Fellow of summer 2021, Production Engineering track</li>
        <li>I speak three languages: English, French, and Mandarin</li>
    </ul>
</body>
</html>