h1 {
    font-size: 2em;
    font-family: Georgia, serif;
    color: #050A30;
}

#profile_pic {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
}

.content {
    font-family: Georgia, serif;
    color: #050A30;
    line-height: 1.6;
    background-color: powderblue;
}

h3 {
    display: inline-block
}
.nav_bar {
    background-color: cadetblue;
    font-size: 1.5em;
}