<head>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link lang='sass' rel="stylesheet" href="./static/styles/michelle.css">
</head>

<script>



	function animate() {
		const icon = document.querySelector('.icon');
		const arrow = document.querySelector('.arrow');


		arrow.animate([
			{ left: '0' },
			{ left: '10px' },
			{ left: '0' }
		], {
			duration: 700,
			iterations: Infinity
		})
	}



</script>

<body>
	<header id="header">
		<div id="nav">
			<a class="nav" href="{{ url_for('index') }}">Blog</a>
			<a class="nav" href="https://www.linkedin.com/in/michelle-shen-b912ba179">LinkedIn</a>
			<!-- <a class="nav" href="https://www.linkedin.com/in/michelle-shen-b912ba179">Resume</a> -->
			<a class="nav" href="https://github.com/mshen63">GitHub</a>

			<a class="nav" href="{{ url_for('emily') }}">Emily</a>

		</div>
		<img src="./static/img/circle-cropped.png" />
		<h1><b>Michelle Shen</b></h1>
		<h3>Production Engineering Fellow</h3>
		<h3>Hello! My name is Michelle, and I'm a 2nd year student @<a href="https://www.gatech.edu/">Georgia Tech</a>
			studying Computer Science! </h3>
			<h3>I'm currently exploring all the interesting fields in computer science, so feel free to talk to me about anything! Outside of tech, I'm passionate about income inequality, cats, and music :)</h3>
		</br>
		<div class="icon">
			<a href="#resume">
				<img id="arrowdown"
					src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-22.png">
			</a>
		</div>


	</header>
	<section id="resume">
		<div id="words">
			<h3 id="comingsoon">Coming Soon!</h3>
			<h4 id="comingsoon">In the meantime, please feel free to contact me at mshen63@gatech.edu, or connect with
				me on <a href="https://www.linkedin.com/in/michelle-shen-b912ba179">LinkedIn</a>!</h4>
		</div>
		<a id="arrowuplink" href="#header">
			<img id="arrowup"
				src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-22.png">
		</a>
	</section>



</body>