<head>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link lang='sass' rel="stylesheet" href="./static/styles/michelle.css">
</head>

<script>



	function animate() {
		const icon = document.querySelector('.icon');
		const arrow = document.querySelector('.arrow');


		arrow.animate([
			{ left: '0' },
			{ left: '10px' },
			{ left: '0' }
		], {
			duration: 700,
			iterations: Infinity
		})
	}



</script>

<body>
	<header>
		<div id="nav">
			<a class="nav" href="{{ url_for('index') }}">Blog</a>
			<a class="nav" href="https://www.linkedin.com/in/michelle-shen-b912ba179">Contact</a>
			<a class="nav" href="{{ url_for('emily') }}">Emily</a>

		</div>
		<img src="./static/img/circle-cropped.png" />
		<h1><b>Michelle Shen</b></h1>
		<h3>Production Engineering Fellow</h3>
		<h3>Hello! My name is Michelle, and I'm a 2nd year student @<a href="https://www.gatech.edu/">Georgia Tech</a>
			studying Computer Science!</h3>
		</br>
		<div class="icon">
			<a href="#resume">
				<img id = "arrow" src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-22.png">
			</a>
		</div>


	</header>
	<section id="resume">
		<p>hello</p>
	</section>



</body>